h1 {
    color: white;
    background-color: blue;
    text-align: center;
    padding: 25px;
    font-size: 35px;
}

/* .dateContainer {
    border: red 3px solid;
    display: flex;
}

.dateBox {
    border: red 3px solid;
    display: flex;
}

p,
img {
    border: red 3px solid;
} */