* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.searchContainer {
    text-align: center;
}

form {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

label {
    font-size: 20px;
}

#searchBtn {
    text-align: center;
    border-radius: 5px;
    padding: 2px 13px;
    /* border: red 3px solid; */
}

#storageBtn {
    text-align: center;
}

button {
    width: 100px;
    border-radius: 5px;
    margin: 5px;
}

h1 {
    color: white;
    background-color: blue;
    text-align: center;
    padding: 25px;
    font-size: 35px;
}

.dateBox {
    text-align: center;
    font-weight: bolder;
    padding-top: 25px;
}

.weatherBox {
    text-align: center;
}


/* .dateContainer {
    border: red 3px solid;
    display: flex;
}

.dateBox {
    border: red 3px solid;
    display: flex;
}

p,
img {
    border: red 3px solid;
} */